<div id="<%= dom_id article %>">
  <p>
    <strong>Title:</strong>
    <%= article.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= article.body %>
  </p>

</div>

<div class="container">
  <h2 class="title">
    <%= article.title %>
  </h2>
  <p>
    <%= article.body %>
  </p>
</div>
